*.o
*.lo
*.la
.deps
.dirstamp
.libs
stamp-*
/.indent.pro
/Makefile
/Makefile.in
/R/DESCRIPTION
/R/create_package_rds.r
/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/definitions/*.codadef
/depcomp
/doc/Doxyfile
/doc/ingestions
/doc/install.rst
/doc/xml
/doctrees
/findtypedef
/findtypedef.c
/install-sh
/harpcheck
/harpcollocate
/harpconvert
/harpdump
/harpfilter
/harpmerge
/idl/harp_idl.dlm
/libharp/harp-operation-parser.c
/libharp/harp-operation-parser.h
/libharp/harp-operation-scanner.c
/libharp/harp.h
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/package.rds
/py-compile
/udunits2/utparser.c
/udunits2/utparser.h
/udunits2/utscanner.c
/ylwrap
